<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-goods-heading" jhiTranslate="hopeJustFoundApp.goods.home.createOrEditLabel">Create or edit a Goods</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!goods.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="goods.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.goods.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="goods.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.goods.condition" for="field_condition">Condition</label>
                    <input type="text" class="form-control" name="condition" id="field_condition"
                        [(ngModel)]="goods.condition" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.goods.description" for="field_description">Description</label>
                    <div>
                        <div *ngIf="goods.description" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(goods.descriptionContentType, goods.description)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{goods.descriptionContentType}}, {{byteSize(goods.description)}}</span>
                            <button type="button" (click)="goods.description=null;goods.descriptionContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_description" (change)="setFileData($event, goods, 'description', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="description" id="field_description"
                        [(ngModel)]="goods.description" />
                    <input type="hidden" class="form-control" name="descriptionContentType" id="field_descriptionContentType"
                        [(ngModel)]="goods.descriptionContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.goods.transport" for="field_transport">Transport</label>
                    <input type="text" class="form-control" name="transport" id="field_transport"
                        [(ngModel)]="goods.transport" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.goods.image" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + goods.imageContentType + ';base64,' + goods.image" style="max-height: 100px;" *ngIf="goods.image" alt="goods image"/>
                        <div *ngIf="goods.image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{goods.imageContentType}}, {{byteSize(goods.image)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, goods, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="goods.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="goods.imageContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
