<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="goods">
            <h2><span jhiTranslate="hopeJustFoundApp.goods.detail.title">Goods</span> {{goods.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hopeJustFoundApp.goods.type">Type</span></dt>
                <dd>
                    <span>{{goods.type}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.goods.condition">Condition</span></dt>
                <dd>
                    <span>{{goods.condition}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.goods.description">Description</span></dt>
                <dd>
                    <div *ngIf="goods.description">
                        <a (click)="openFile(goods.descriptionContentType, goods.description)" jhiTranslate="entity.action.open">open</a>
                        {{goods.descriptionContentType}}, {{byteSize(goods.description)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.goods.transport">Transport</span></dt>
                <dd>
                    <span>{{goods.transport}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.goods.image">Image</span></dt>
                <dd>
                    <div *ngIf="goods.image">
                        <a (click)="openFile(goods.imageContentType, goods.image)">
                            <img [src]="'data:' + goods.imageContentType + ';base64,' + goods.image" style="max-width: 100%;" alt="goods image"/>
                        </a>
                        {{goods.imageContentType}}, {{byteSize(goods.image)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/goods', goods.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
