<div>
    <h2 id="page-heading">
        <span jhiTranslate="hopeJustFoundApp.userContact.home.title">User Contacts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-contact" [routerLink]="['/user-contact/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hopeJustFoundApp.userContact.home.createLabel">
            Create new User Contact
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userContacts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.userContact.phoneNumber">Phone Number</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.userContact.address">Address</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.userContact.city">City</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.userContact.state">State</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.userContact.zipCode">Zip Code</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.userContact.contactDays">Contact Days</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.userContact.contactTimes">Contact Times</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userContact of userContacts ;trackBy: trackId">
                <td><a [routerLink]="['/user-contact', userContact.id, 'view' ]">{{userContact.id}}</a></td>
                <td>{{userContact.phoneNumber}}</td>
                <td>{{userContact.address}}</td>
                <td>{{userContact.city}}</td>
                <td>{{userContact.state}}</td>
                <td>{{userContact.zipCode}}</td>
                <td>{{userContact.contactDays}}</td>
                <td>{{userContact.contactTimes}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-contact', userContact.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-contact', userContact.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-contact/'+ userContact.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
