<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-contact-heading" jhiTranslate="hopeJustFoundApp.userContact.home.createOrEditLabel">Create or edit a User Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userContact.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userContact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.userContact.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="userContact.phoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.userContact.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="userContact.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.userContact.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="userContact.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.userContact.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                        [(ngModel)]="userContact.state" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.userContact.zipCode" for="field_zipCode">Zip Code</label>
                    <input type="number" class="form-control" name="zipCode" id="field_zipCode"
                        [(ngModel)]="userContact.zipCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.userContact.contactDays" for="field_contactDays">Contact Days</label>
                    <input type="text" class="form-control" name="contactDays" id="field_contactDays"
                        [(ngModel)]="userContact.contactDays" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.userContact.contactTimes" for="field_contactTimes">Contact Times</label>
                    <input type="text" class="form-control" name="contactTimes" id="field_contactTimes"
                        [(ngModel)]="userContact.contactTimes" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.userContact.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="userContact.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === userContact.user?.id ? userContact.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
