<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-status-heading" jhiTranslate="hopeJustFoundApp.status.home.createOrEditLabel">Create or edit a Status</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!status.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="status.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.status.approved" for="field_approved">Approved</label>
                    <div class="input-group">
                        <input id="field_approved" type="text" class="form-control" name="approved" ngbDatepicker  #approvedDp="ngbDatepicker" [(ngModel)]="status.approved"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="approvedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.status.submitted" for="field_submitted">Submitted</label>
                    <div class="input-group">
                        <input id="field_submitted" type="text" class="form-control" name="submitted" ngbDatepicker  #submittedDp="ngbDatepicker" [(ngModel)]="status.submitted"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="submittedDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hopeJustFoundApp.status.approvedBy" for="field_approvedBy">Approved By</label>
                    <input type="text" class="form-control" name="approvedBy" id="field_approvedBy"
                        [(ngModel)]="status.approvedBy" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
