<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-donation-request-heading">Create or edit a Donation Request</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!donationRequest.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="donationRequest.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="donationRequest.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_initialDate">Initial Date</label>
                    <div class="input-group">
                        <input id="field_initialDate" type="text" class="form-control" name="initialDate" ngbDatepicker  #initialDateDp="ngbDatepicker" [(ngModel)]="donationRequest.initialDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="initialDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expireDate">Expire Date</label>
                    <div class="input-group">
                        <input id="field_expireDate" type="text" class="form-control" name="expireDate" ngbDatepicker  #expireDateDp="ngbDatepicker" [(ngModel)]="donationRequest.expireDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expireDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_condition">Condition</label>
                    <input type="text" class="form-control" name="condition" id="field_condition"
                        [(ngModel)]="donationRequest.condition" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="donationRequest.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_experience">Experience</label>
                    <input type="text" class="form-control" name="experience" id="field_experience"
                        [(ngModel)]="donationRequest.experience" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberOfVolunteers">Number Of Volunteers</label>
                    <input type="number" class="form-control" name="numberOfVolunteers" id="field_numberOfVolunteers"
                        [(ngModel)]="donationRequest.numberOfVolunteers" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="donationRequest.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === donationRequest.user?.id ? donationRequest.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
