<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="skilled">
            <h2><span jhiTranslate="hopeJustFoundApp.skilled.detail.title">Skilled</span> {{skilled.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hopeJustFoundApp.skilled.experience">Experience</span></dt>
                <dd>
                    <span>{{skilled.experience}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.skilled.type">Type</span></dt>
                <dd>
                    <span>{{skilled.type}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.skilled.number">Number</span></dt>
                <dd>
                    <span>{{skilled.number}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/skilled', skilled.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
