<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Registration</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success" >

                <!--UserName-->
                <div class="form-group">
                    <label class="form-control-label" for="login">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Your username"
                           required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Your username is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                        >
                            Your username is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                        >
                            Your username cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                        >
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>

                <!--First Name-->
                <div class="form-group">
                    <label class="form-control-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" #firstName="ngModel" placeholder="First Name"
                           [(ngModel)]="registerAccount.firstName" minlength=3 maxlength=254 firstName required>
                </div>

                <!--Last Name-->
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" #lastName="ngModel" placeholder="Last Name"
                           [(ngModel)]="registerAccount.lastName" minlength=3 maxlength=254 lastName required>
                </div>

                <!--Company Name-->
                <div class="form-group">
                    <label class="form-control-label" for="companyName">Company Name</label>
                    <input type="text" class="form-control" id="companyName" name="companyName" #firstName="ngModel" placeholder="Company Name"
                           [(ngModel)]="registerAccount.companyName" >
                </div>

                <!--Email-->
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Your email"
                           [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                        >
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                        >
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                        >
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                        >
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <!--Password-->
                <div class="form-group">
                    <label class="form-control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="New password"
                           [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                        >
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                        >
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                        >
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <!--Confirm Password-->
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the new password"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                        >
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                        >
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                        >
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <!-- Phone Number -->
                <div class="form-group">
                    <label class="form-control-label" for="phoneNumber" >Phone number</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" placeholder="000-000-0000"
                           [(ngModel)]="registerAccount.phoneNumber" required>
                </div>
                <!-- Company Webiste -->
                <div class="form-group">
                    <label class="form-control-label" for="companyWebsite" >Company Website URL</label>
                    <input type="tel" class="form-control" id="companyWebsite" name="companyWebsite" #companyWebsite="ngModel" placeholder="https://yourDomain.com"
                           [(ngModel)]="registerAccount.companyWebsite" required>
                </div>
                <!-- Company EIN -->
                <div class="form-group">
                    <label class="form-control-label" for="companyEIN" >Company EIN</label>
                    <input type="tel" class="form-control" id="companyEIN" name="companyEIN" #companyEIN="ngModel" placeholder="XX-XXXXXXX"
                           [(ngModel)]="registerAccount.companyEIN" required>
                </div>

                <!-- mailingAddress -->
                <div class="form-group">
                    <label class="form-control-label" for="mailingAddress" >Mailing Address</label>
                    <input type="text" class="form-control" id="mailingAddress" name="mailingAddress" #mailingAddress="ngModel" placeholder="123 Main St"
                           [(ngModel)]="registerAccount.mailingAddress">
                </div>
                <!-- mailingCity -->
                <div class="form-group">
                    <label class="form-control-label" for="mailingCity" >Mailing City</label>
                    <input type="text" class="form-control" id="mailingCity" name="mailingCity" #mailingCity="ngModel" placeholder="Any Town"
                           [(ngModel)]="registerAccount.mailingCity">
                </div>
                <!-- mailingState -->
                <div class="form-group">
                    <label class="form-control-label" for="mailingState" >Mailing State</label>
                    <input type="text" class="form-control" id="mailingState" name="mailingState" #mailingState="ngModel" placeholder="OH"
                           [(ngModel)]="registerAccount.mailingState">
                </div>
                <!-- mailingZipCode -->
                <div class="form-group">
                    <label class="form-control-label" for="mailingZipCode" >Mailing ZipCode</label>
                    <input type="number" class="form-control" id="mailingZipCode" name="mailingZipCode" #mailingZipCode="ngModel" placeholder="44123"
                           [(ngModel)]="registerAccount.mailingZipCode">
                </div>

                <!-- phyisicalAddress -->
                <div class="form-group">
                    <label class="form-control-label" for="phyisicalAddress" >Phyisical Address</label>
                    <input type="text" class="form-control" id="phyisicalAddress" name="phyisicalAddress" #phyisicalAddress="ngModel" placeholder="123 Main St"
                           [(ngModel)]="registerAccount.phyisicalAddress">
                </div>
                <!-- phyisicalCity -->
                <div class="form-group">
                    <label class="form-control-label" for="phyisicalCity" >Phyisical City</label>
                    <input type="text" class="form-control" id="phyisicalCity" name="phyisicalCity" #phyisicalCity="ngModel" placeholder="Any Town"
                           [(ngModel)]="registerAccount.phyisicalCity">
                </div>
                <!-- phyisicalState -->
                <div class="form-group">
                    <label class="form-control-label" for="phyisicalState" >Phyisical State</label>
                    <input type="text" class="form-control" id="phyisicalState" name="phyisicalState" #state="ngModel" placeholder="OH"
                           [(ngModel)]="registerAccount.phyisicalState">
                </div>
                <!-- phyisicalZipCode -->
                <div class="form-group">
                    <label class="form-control-label" for="phyisicalZipCode" >phyisical ZipCode</label>
                    <input type="number" class="form-control" id="phyisicalZipCode" name="phyisicalZipCode" #phyisicalZipCode="ngModel" placeholder="44123"
                           [(ngModel)]="registerAccount.phyisicalZipCode">
                </div>
                <!-- Contact Days -->
                <div class="form-group">
                    <label class="form-control-label" for="contactDays" >Contact Days</label>
                    <input type="text" class="form-control" id="contactDays" name="contactDays" #conatctDays="ngModel" placeholder="Mon. - Fri."
                           [(ngModel)]="registerAccount.contactDays">
                </div>
                <!-- Contact Times -->
                <div class="form-group">
                    <label class="form-control-label" for="contactTimes" >Contact Times</label>
                    <input type="text" class="form-control" id="contactTimes" name="contactTimes" #contactTimes="ngModel" placeholder="8am - 5pm"
                           [(ngModel)]="registerAccount.contactTimes">
                </div>
                <!-- Role -->
                <div class="form-group">
                    <label class="form-control-label" for="Donator" >Donator</label>
                    <input type="radio" class="authority" id="Donator" name="authority" value="ROLE_DONATOR"
                           [(ngModel)]="registerAccount.authority" >

                    <label class="form-control-label" for="USER" >NonProfit</label>
                    <input type="radio" class="authority" id="USER" name="authority" value="ROLE_USER"
                           [(ngModel)]="registerAccount.authority" >
                </div>

                <button class="submit btn btn-success" >Submit</button>
            </form>
        </div>
    </div>
</div>
