<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="register.title">Registration</h1>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <!-- Username -->
                <div class="form-group">
                    <label class="form-control-label" for="login" jhiTranslate="global.form.username">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="{{'global.form.username.placeholder' | translate}}"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required" jhiTranslate="register.messages.validate.login.required">
                            Your username is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                                jhiTranslate="register.messages.validate.login.minlength">
                            Your username is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                                jhiTranslate="register.messages.validate.login.maxlength">
                            Your username cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                               jhiTranslate="register.messages.validate.login.pattern">
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                                jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                                jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                                jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                                jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <!-- Confirm Password -->
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                               jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                              jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <!-- Phone Number -->
                <div class="form-group">
                    <label class="form-control-label" for="phoneNumber" data-translate="global.form.phoneNumber">Phone number</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" placeholder="000-000-0000"
                           [(ngModel)]="registerAccount.phoneNumber">
                </div>
                <!-- Address -->
                <div class="form-group">
                    <label class="form-control-label" for="address" data-translate="global.form.address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" #address="ngModel" placeholder="123 Main St"
                           [(ngModel)]="registerAccount.address">
                </div>
                <!-- City -->
                <div class="form-group">
                    <label class="form-control-label" for="city" data-translate="global.form.city">City</label>
                    <input type="text" class="form-control" id="city" name="city" #city="ngModel" placeholder="Any Town"
                           [(ngModel)]="registerAccount.city">
                </div>
                <!-- State -->
                <div class="form-group">
                    <label class="form-control-label" for="state" data-translate="global.form.state">State</label>
                    <input type="text" class="form-control" id="state" name="state" #state="ngModel" placeholder="OH"
                           [(ngModel)]="registerAccount.state">
                </div>
                <!-- ZipCode -->
                <div class="form-group">
                    <label class="form-control-label" for="zipCode" data-translate="global.form.zipCode">Zip code</label>
                    <input type="number" class="form-control" id="zipCode" name="zipCode" #zipCode="ngModel" placeholder="44123"
                           [(ngModel)]="registerAccount.zipCode">
                </div>
                <!-- Contact Days -->
                <div class="form-group">
                    <label class="form-control-label" for="contactDays" data-translate="global.form.contactDays">Contact Days</label>
                    <input type="text" class="form-control" id="contactDays" name="contactDays" #conatctDays="ngModel" placeholder="Mon. - Fri."
                           [(ngModel)]="registerAccount.contactDays">
                </div>
                <!-- Contact Times -->
                <div class="form-group">
                    <label class="form-control-label" for="contactTimes" data-translate="global.form.contactTimes">Contact Times</label>
                    <input type="text" class="form-control" id="contactTimes" name="contactTimes" #contactTimes="ngModel" placeholder="8am - 5pm"
                           [(ngModel)]="registerAccount.contactTimes">
                </div>
                <!-- Role -->
                <div class="form-group">
                    <label class="form-control-label" for="Donator" data-translate="global.form.role">Donator</label>

                    <input type="radio" class="role" id="Donator" name="role" value="Donator" #role="ngModel"
                           [(ngModel)]="registerAccount.role">
                    <label class="form-control-label" for="NonProfit" data-translate="global.form.role">NonProfit</label>

                    <input type="radio" class="role" id="NonProfit" name="role" value="NonProfit"  #role="ngModel"
                           [(ngModel)]="registerAccount.role">
                </div>
                <!-- Submitted -->
                <div class="form-group required">
                    <label class="form-control-label" for="submitted"> </label>
                    <input type="hidden" class="role" id="submitted" name="submitted" #submitted="ngModel" value ="currentDate"
                           [(ngModel)]="registerAccount.submitted">
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="openLogin()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var d = new Date(year, month, day);
    // Set the value of the "date" field
    document.getElementById("submitted").value = d.toDateString();
</script>
