<!--Not Signed In-->
<div id="info" *ngIf="!isAuthenticated()">

    <div id="mission">
        <h1>Mission Statement</h1>
        <p class="lead"> To connect those with the greatest needs to those with the greatest assets for the betterment of humanity.</p>
    </div>

    <div id="vision">
        <h1>Vision</h1>
        <p class="lead">To provide an opportunity through an on-line platform for all non-profit organizations to list their needs for donated goods, supplies, volunteers and services to those who are willing to fulfill those needs.</p>
    </div>

</div>

<!--Admin-->
<div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="home">

    <div class="leftBox">

    </div>


    <div class="middleBox">
        <p>This is map component!!!</p>
    </div>


    <div class="rightBox">
        <p>This is Information component!!!</p>
    </div>

</div>

<!--NonProfit-->
<div *jhiHasAnyAuthority="'ROLE_USER'" class="home">

    <div class="leftBox">
        <p>This is status component!!!</p>
    </div>


    <div class="middleBox">
        <p>This is map component!!!</p>
    </div>


    <div class="rightBox">
        <p>This is Information component!!!</p>
    </div>

</div>

<!--Donator-->
<div *jhiHasAnyAuthority="'ROLE_DONTOR'" class="home">

    <div class="leftBox">
        <p>This is status component!!!</p>
    </div>


    <div class="middleBox">
        <p>This is map component!!!</p>
    </div>


    <div class="rightBox">
        <p>This is Information component!!!</p>
    </div>

</div>


