<!--Not Signed In-->
<div class="row"*ngIf="!isAuthenticated()">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <h2 class="display-4">Mission Statement</h2>
        <p class="lead"> To connect those with the greatest needs to those with the greatest assets for the betterment of humanity.</p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <h2 class="display-4">Vision</h2>
        <p class="lead">To provide an opportunity through an on-line platform for all non-profit organizations to list their needs for donated goods, supplies, volunteers and services to those who are willing to fulfill those needs.</p>
    </div>
    <div class="col-md-3">
    </div>
</div>

<!--Admin-->
<div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="home">

    <div class="leftBox">
        <p>This is status component!!!</p>
    </div>


    <div class="middleBox">
        <p>This is map component!!!</p>
    </div>


    <div class="rightBox">
        <p>This is Information component!!!</p>
    </div>

</div>

<!--NonProfit-->
<div *jhiHasAnyAuthority="'ROLE_USER'" class="home">

    <div class="leftBox">
        <p>This is status component!!!</p>
    </div>


    <div class="middleBox">
        <p>This is map component!!!</p>
    </div>


    <div class="rightBox">
        <p>This is Information component!!!</p>
    </div>

</div>

<!--Donator-->
<div *jhiHasAnyAuthority="'ROLE_DONTOR'" class="home">

    <div class="leftBox">
        <p>This is status component!!!</p>
    </div>


    <div class="middleBox">
        <p>This is map component!!!</p>
    </div>


    <div class="rightBox">
        <p>This is Information component!!!</p>
    </div>

</div>


