<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="donation">
            <h2><span jhiTranslate="hopeJustFoundApp.donation.detail.title">Donation</span> {{donation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hopeJustFoundApp.donation.type">Type</span></dt>
                <dd>
                    <span>{{donation.type}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.donation.initialDate">Initial Date</span></dt>
                <dd>
                    <span>{{donation.initialDate}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.donation.expireDate">Expire Date</span></dt>
                <dd>
                    <span>{{donation.expireDate}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.donation.skilled">Skilled</span></dt>
                <dd>
                    <div *ngIf="donation.skilled">
                        <a [routerLink]="['/skilled', donation.skilled?.id, 'view']">{{donation.skilled?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.donation.unskilled">Unskilled</span></dt>
                <dd>
                    <div *ngIf="donation.unskilled">
                        <a [routerLink]="['/unskilled', donation.unskilled?.id, 'view']">{{donation.unskilled?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.donation.goods">Goods</span></dt>
                <dd>
                    <div *ngIf="donation.goods">
                        <a [routerLink]="['/goods', donation.goods?.id, 'view']">{{donation.goods?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.donation.user">User</span></dt>
                <dd>
                    {{donation.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/donation', donation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
