<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="donation">
            <h2><span>Donation</span> {{donation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{donation.type}}</span>
                </dd>
                <dt><span>Initial Date</span></dt>
                <dd>
                    <span>{{donation.initialDate}}</span>
                </dd>
                <dt><span>Expire Date</span></dt>
                <dd>
                    <span>{{donation.expireDate}}</span>
                </dd>
                <dt><span>Condition</span></dt>
                <dd>
                    <span>{{donation.condition}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{donation.description}}</span>
                </dd>
                <dt><span>Experience</span></dt>
                <dd>
                    <span>{{donation.experience}}</span>
                </dd>
                <dt><span>Climate</span></dt>
                <dd>
                    <span>{{donation.climate}}</span>
                </dd>
                <dt><span>Intensity</span></dt>
                <dd>
                    <span>{{donation.intensity}}</span>
                </dd>
                <dt><span>Number Of Volunteers</span></dt>
                <dd>
                    <span>{{donation.numberOfVolunteers}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{donation.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/donation', donation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
