<div>
    <h2 id="page-heading">
        <span jhiTranslate="hopeJustFoundApp.donation.home.title">Donations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-donation" [routerLink]="['/donation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hopeJustFoundApp.donation.home.createLabel">
            Create new Donation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="donations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.type">Type</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.initialDate">Initial Date</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.expireDate">Expire Date</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.condition">Condition</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.description">Description</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.experience">Experience</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.climate">Climate</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.intensity">Intensity</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.numberOfVolunteers">Number Of Volunteers</span></th>
            <th><span jhiTranslate="hopeJustFoundApp.donation.userid">Userid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let donation of donations ;trackBy: trackId">
                <td><a [routerLink]="['/donation', donation.id, 'view' ]">{{donation.id}}</a></td>
                <td>{{donation.type}}</td>
                <td>{{donation.initialDate | date:'mediumDate'}}</td>
                <td>{{donation.expireDate | date:'mediumDate'}}</td>
                <td>{{donation.condition}}</td>
                <td>{{donation.description}}</td>
                <td>{{donation.experience}}</td>
                <td>{{donation.climate}}</td>
                <td>{{donation.intensity}}</td>
                <td>{{donation.numberOfVolunteers}}</td>
                <td>
                    {{donation.userid?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/donation', donation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/donation', donation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'donation/'+ donation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
