<div>
    <h2 id="page-heading">
        <span>Donations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-donation" [routerLink]="['/donation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Donation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="donations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="goodsType"><span>Goods Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceType"><span>Service Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="images"><span>Images</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="initialDate"><span>Initial Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expireDate"><span>Expire Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="condition"><span>Condition</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numberOfVolunteers"><span>Number Of Volunteers</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let donation of donations ;trackBy: trackId">
                <td><a [routerLink]="['/donation', donation.id, 'view' ]">{{donation.id}}</a></td>
                <td>{{donation.goodsType}}</td>
                <td>{{donation.serviceType}}</td>
                <td>
                    <a *ngIf="donation.images" (click)="openFile(donation.imagesContentType, donation.images)">
                        <img [src]="'data:' + donation.imagesContentType + ';base64,' + donation.images" style="max-height: 30px;" alt="donation image"/>
                    </a>
                    <span *ngIf="donation.images">{{donation.imagesContentType}}, {{byteSize(donation.images)}}</span>
                </td>
                <td>{{donation.initialDate | date:'mediumDate'}}</td>
                <td>{{donation.expireDate | date:'mediumDate'}}</td>
                <td>{{donation.condition}}</td>
                <td>{{donation.description}}</td>
                <td>{{donation.numberOfVolunteers}}</td>
                <td>
                    {{donation.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/donation', donation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/donation', donation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'donation/'+ donation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
