<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-donation-heading">Create or edit a Donation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!donation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="donation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_goodsType">Goods Type</label>
                    <input type="text" class="form-control" name="goodsType" id="field_goodsType"
                        [(ngModel)]="donation.goodsType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_serviceType">Service Type</label>
                    <input type="text" class="form-control" name="serviceType" id="field_serviceType"
                        [(ngModel)]="donation.serviceType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_images">Images</label>
                    <div>
                        <img [src]="'data:' + donation.imagesContentType + ';base64,' + donation.images" style="max-height: 100px;" *ngIf="donation.images" alt="donation image"/>
                        <div *ngIf="donation.images" class="form-text text-danger clearfix">
                            <span class="pull-left">{{donation.imagesContentType}}, {{byteSize(donation.images)}}</span>
                            <button type="button" (click)="clearInputImage('images', 'imagesContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_images" (change)="setFileData($event, donation, 'images', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="images" id="field_images"
                        [(ngModel)]="donation.images" />
                    <input type="hidden" class="form-control" name="imagesContentType" id="field_imagesContentType"
                        [(ngModel)]="donation.imagesContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_initialDate">Initial Date</label>
                    <div class="input-group">
                        <input id="field_initialDate" type="text" class="form-control" name="initialDate" ngbDatepicker  #initialDateDp="ngbDatepicker" [(ngModel)]="donation.initialDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="initialDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expireDate">Expire Date</label>
                    <div class="input-group">
                        <input id="field_expireDate" type="text" class="form-control" name="expireDate" ngbDatepicker  #expireDateDp="ngbDatepicker" [(ngModel)]="donation.expireDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expireDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_condition">Condition</label>
                    <input type="text" class="form-control" name="condition" id="field_condition"
                        [(ngModel)]="donation.condition" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="donation.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberOfVolunteers">Number Of Volunteers</label>
                    <input type="number" class="form-control" name="numberOfVolunteers" id="field_numberOfVolunteers"
                        [(ngModel)]="donation.numberOfVolunteers" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="donation.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === donation.user?.id ? donation.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
