<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span>Contact</span> {{contact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{contact.companyName}}</span>
                </dd>
                <dt><span>Company EIN</span></dt>
                <dd>
                    <span>{{contact.companyEIN}}</span>
                </dd>
                <dt><span>Company Website</span></dt>
                <dd>
                    <span>{{contact.companyWebsite}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{contact.phoneNumber}}</span>
                </dd>
                <dt><span>Mailing Address</span></dt>
                <dd>
                    <span>{{contact.mailingAddress}}</span>
                </dd>
                <dt><span>Mailing City</span></dt>
                <dd>
                    <span>{{contact.mailingCity}}</span>
                </dd>
                <dt><span>Mailing State</span></dt>
                <dd>
                    <span>{{contact.mailingState}}</span>
                </dd>
                <dt><span>Mailing Zip Code</span></dt>
                <dd>
                    <span>{{contact.mailingZipCode}}</span>
                </dd>
                <dt><span>Phyisical Address</span></dt>
                <dd>
                    <span>{{contact.phyisicalAddress}}</span>
                </dd>
                <dt><span>Phyisical City</span></dt>
                <dd>
                    <span>{{contact.phyisicalCity}}</span>
                </dd>
                <dt><span>Phyisical State</span></dt>
                <dd>
                    <span>{{contact.phyisicalState}}</span>
                </dd>
                <dt><span>Phyisical Zip Code</span></dt>
                <dd>
                    <span>{{contact.phyisicalZipCode}}</span>
                </dd>
                <dt><span>Contact Days</span></dt>
                <dd>
                    <span>{{contact.contactDays}}</span>
                </dd>
                <dt><span>Contact Times</span></dt>
                <dd>
                    <span>{{contact.contactTimes}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{contact.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
