<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span jhiTranslate="hopeJustFoundApp.contact.detail.title">Contact</span> {{contact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hopeJustFoundApp.contact.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{contact.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.contact.address">Address</span></dt>
                <dd>
                    <span>{{contact.address}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.contact.city">City</span></dt>
                <dd>
                    <span>{{contact.city}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.contact.state">State</span></dt>
                <dd>
                    <span>{{contact.state}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.contact.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{contact.zipCode}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.contact.contactDays">Contact Days</span></dt>
                <dd>
                    <span>{{contact.contactDays}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.contact.contactTimes">Contact Times</span></dt>
                <dd>
                    <span>{{contact.contactTimes}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.contact.userid">Userid</span></dt>
                <dd>
                    {{contact.userid?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
