<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span>Contact</span> {{contact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Company Name</span></dt>
                <dd>
                    <span>{{contact.companyName}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{contact.phoneNumber}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{contact.address}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{contact.city}}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{contact.state}}</span>
                </dd>
                <dt><span>Zip Code</span></dt>
                <dd>
                    <span>{{contact.zipCode}}</span>
                </dd>
                <dt><span>Contact Days</span></dt>
                <dd>
                    <span>{{contact.contactDays}}</span>
                </dd>
                <dt><span>Contact Times</span></dt>
                <dd>
                    <span>{{contact.contactTimes}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{contact.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
