<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="unskilled">
            <h2><span jhiTranslate="hopeJustFoundApp.unskilled.detail.title">Unskilled</span> {{unskilled.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hopeJustFoundApp.unskilled.climate">Climate</span></dt>
                <dd>
                    <span>{{unskilled.climate}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.unskilled.intensity">Intensity</span></dt>
                <dd>
                    <span>{{unskilled.intensity}}</span>
                </dd>
                <dt><span jhiTranslate="hopeJustFoundApp.unskilled.number">Number</span></dt>
                <dd>
                    <span>{{unskilled.number}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/unskilled', unskilled.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
